PORT=3000
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here
GOOGLE_DRIVE_INATIV_FOLDER_ID=your_inativ_folder_id_here
GOOGLE_DRIVE_DIST_FOLDER_ID=your_dist_cache_folder_id_here
GOOGLE_DRIVE_PALIATIVO_DOC_ID=your_paliativo_doc_id_here
GOOGLE_SERVICE_ACCOUNT_PATH=./credentials/service-account.json

CLICKUP_TOKEN=your_clickup_personal_api_token
CLICKUP_BIC_LIST_ID=901325453294
